#countLabel {
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Arial, Helvetica, sans-serif;
}

#btnContainer {
    text-align: center;
}

.buttons {
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

#decreaseBtn {
    background-color:hsl(0, 100%, 50%);
}

#resetBtn {
    background-color: hsl(253, 100%, 50%);
}

#increaseBtn {
    background-color: hsl(123, 100%, 40%);
}

#decreaseBtn:hover {
    background-color: hsl(0, 100%, 75%);
}

#resetBtn:hover {
    background-color: hsl(253, 100%, 70%);
}

#increaseBtn:hover {
    background-color: hsl(123, 100%, 60%);
}